
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Load Filtro Busqueda .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


    #filtro-form {
        margin-bottom: 20px;
    }
    
    #filtro-form label {
        display: inline-block;
        width: 150px;
    }
    
    #filtro-form input, #filtro-form select {
        margin-bottom: 10px;
        padding: 5px;
    }
    
    button[type="submit"] {
        padding: 5px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #45a049;
    }
    


/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Load Filtro Busqueda .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/