
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa crear .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */



/* formulario_cotizacion.css */

/* Establece la fuente predeterminada, elimina márgenes y rellenos, y define el color de fondo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Contenedor principal */
.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Filas flexibles */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Cajas flexibles */
.box-6,
.box-12 {
  display: flex;
  flex-direction: column;
}

.box-6 {
  flex: 1;
  max-width: 50%;
  padding: 10px;
}

.box-12 {
  flex: 1;
  max-width: 100%;
  padding: 10px;
}

/* Logo */
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  max-width: 300px;
  height: auto;
  margin-right: 10px;
}

/* Cajas de datos */
.data-box {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px; /* Redondea las esquinas */
}

.data-box-red {
  border-color: red;
  border-radius: 12px; /* Redondea las esquinas */
}

input{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

select{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Fila de envío */
.submit-row {
  text-align: center;
}

/* Botón de envío */
.submit-row input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-row input[type="submit"]:hover {
  background-color: #0056b3;
}

.logo{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.subir{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 40px;
}

/* Efecto hover para el botón de envío */
.subir:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.bancos td {
  text-align: center;
}

h2 {
  color: #333;
  margin-top: 0;
}

p {
  color: #666;
  line-height: 1.6;
  text-align: center;
}

.btn-fixed {
  position: fixed;
  top: 100px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.condition-row {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.condition-row input {
  margin-right: 10px;
}

#add-condition-btn {
  margin-top: 10px;
}

#remove-condition-btn {
  margin-top: 10px;
}
#add-condition-btn, #remove-condition-btn {
  font-size: 14px; /* Tamaño de fuente pequeño */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  color: #fff; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición para el color de fondo */
}

#add-condition-btn {
  background-color: #28a745; /* Color de fondo llamativo (verde) */
}

#add-condition-btn:hover {
  background-color: #218838; /* Color de fondo al pasar el ratón (verde más oscuro) */
}

#remove-condition-btn {
  background-color: #dc3545; /* Color de fondo llamativo (rojo) */
}

#remove-condition-btn:hover {
  background-color: #c82333; /* Color de fondo al pasar el ratón (rojo más oscuro) */
}
/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .box-6 {
      max-width: 100%;
  }

  .field label {
      flex: 0 0 100px;
      font-size: 0.8em;
  }

  .field input,
  .field textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  select{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

  .submit-row input[type="submit"] {
      padding: 8px 16px;
      font-size: 14px;
  }

  .container {
    padding: 10px;
}

table, th, td {
    display: block;
    width: 100%;
}

th {
    text-align: right;
}
}
  /* --------------------------------------------------------------------------------------------------------------
      ---------------------------------------- FIN ITred Spa Formulario Cotizacion .CSS ---------------------------------------
      ------------------------------------------------------------------------------------------------------------- */
  
  
  /*
  Sitio Web Creado por ITred Spa.
  Direccion: Guido Reni #4190
  Pedro Agui Cerda - Santiago - Chile
  contacto@itred.cl o itred.spa@gmail.com
  https://www.itred.cl
  Creado, Programado y Diseñado por ITred Spa.BPPJ*/