
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Formulario Cuenta .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* Estilos comunes */

.box-12 {
    flex: 1;
    max-width: 100%;
    padding: 10px;
}

.data-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
}

.contenedor-cuentas-bancarias {
    margin-top: 20px;
}

.cuenta-bancaria label {
    display: block;
    margin-bottom: 8px;
}

.cuenta-bancaria input,
.cuenta-bancaria select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#boton-agregar-boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton-agregar-boton:hover {
    background-color: #0056b3;
}

#boton-subir {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton-subir:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#tabla-cuentas {
    width: 100%;
    border-collapse: collapse;
}

#tabla-cuentas th,
#tabla-cuentas td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla-cuentas th {
    background-color: #f2f2f2;
}

.contenedor-cuentas-bancarias h2 {
    margin-bottom: 20px;
}







/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Formulario Cuenta .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/