
  
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Obligaciones clientes .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


    h2 {
      color: #333;
      margin-top: 0;
    }
    
    #obligaciones-contenedor {
      margin-bottom: 20px;
    }
    
    .fila-obligaciones {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    
    .numero-obligaciones {
      font-weight: bold;
    }
    
    button {
      background-color: #007bff;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    .boton-eliminar-obligacion {
      background-color: #dc3545; /* Color rojo */
    }
    
    .boton-eliminar-obligacion:hover {
      background-color: #c82333; /* Rojo más oscuro al hacer hover */
    }



/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Obligaciones clientes .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/