
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Crear Clientes .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Fondo claro */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para el botón */
button.submit {
    display: block;
    width: 100%; /* Ancho completo */
    padding: 12px 20px;
    font-size: 16px;
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

button.submit:hover {
    background-color: #7d5a50; /* Cambia a marrón cálido en hover */
}

/* Contenedor del formulario */
.contenedor {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Crear Clientes .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/