
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Marca de agua .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

.marca-agua {
    position: absolute; /* O ajusta según tu diseño */
    top: 10%; /* Ajusta según tu diseño */
    left: 10%; /* Ajusta según tu diseño */
    opacity: 0.5; /* Para la transparencia */
    color: black; /* Cambia el color del texto según tu preferencia */
}

.foto-marca-agua {
    max-width: 100px; /* Ajusta el tamaño de la foto según tu preferencia */
    filter: grayscale(100%); /* Aplica el filtro de blanco y negro */
}

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Marca de agua .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/