
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Marca de agua .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

    .watermark {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.1; /* Ajusta la opacidad según sea necesario */
        background-repeat: repeat;
        pointer-events: none; /* Asegúrate de que no interfiera con otros elementos */
        display: none; /* Inicialmente oculto */
    }
    .horizontal-watermark {
        background-size: 150px; /* Ajusta el tamaño de la imagen de fondo */
        background-position: center; /* Centrar la imagen */
        filter: grayscale(100%); /* Aplicar filtro en blanco y negro */
    }
    .vertical-watermark {
        background-size: 150px; /* Ajusta el tamaño de la imagen de fondo */
        background-position: center; /* Centrar la imagen */
        transform: rotate(90deg);
        transform-origin: center; /* Asegura que la rotación sea desde el centro */
        filter: grayscale(100%); /* Aplicar filtro en blanco y negro */
    }
    .diagonal-watermark {
        background-size: 150px; /* Ajusta el tamaño de la imagen de fondo */
        transform: rotate(-45deg); /* Ajusta la rotación para diagonal */
        filter: grayscale(100%); /* Aplicar filtro en blanco y negro */
    }
    .texto-personalizado {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, 0.1); /* Color y opacidad */
        font-size: 30px; /* Tamaño de fuente por defecto */
        text-align: center;
    }

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Marca de agua .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/