
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Cargar Logo Empresa .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
    .box-6,
    .box-12 {
      display: flex;
      flex-direction: column;
    }
    
    .box-6 {
      flex: 1;
      padding: 10px;
    }
  
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }

    .logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      
      .logo {
        max-width: 300px;
        height: auto;
        margin-right: 10px;
      }

      

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Cargar Logo Empresa .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/