
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Cargar Logo Empresa .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
      
     /* Estilos para el contenedor del logo */
#logo-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilos para el título del formulario de carga de logo */
#logo-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para el formulario de carga de logo */
#logo-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el campo de carga de archivo */
#logo-container input[type="file"] {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

/* Estilos para el botón de subir logo */
#logo-container button {
  background-color: #007bff; /* Color del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Efecto hover para el botón */
#logo-container button:hover {
  background-color: #0056b3; /* Color del botón al pasar el ratón */
}

/* Estilos para mensajes de éxito o error */
#logo-container p {
  font-size: 14px;
  color: #d9534f; /* Color de error */
}

#logo-container .success {
  color: #5bc0de; /* Color de éxito */
}


/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Cargar Logo Empresa .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/