
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Datos empresa.CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
    .cuadro-datos {
      border: 1px solid #ddd;
      padding: 15px;
      background-color: #fff;
    }

    .box-6,
    .box-12 {
      display: flex;
      flex-direction: column;
    }

    .box-12 {
      flex: 1;
      max-width: 100%;
      padding: 10px;
    }

    .form-group label {
      width: 20%;
      font-size: 14px;
      background-color: #d4d4d4;
      padding: 5px;
      border-radius: 3px 0px 0px 3px;
      text-align: left;
    }

    .form-group label,
    .form-group select,
    .form-group input {
      display: flex;
      align-items: center; /* Centra el contenido de los label e input */
    }

    .form-group select,
    .form-group input {
      flex: 2; /* Hace que el input ocupe 2 partes del espacio disponible */
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 0px 3px 3px 0px;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del input */
    }

    fieldset legend {
      font-size: 1.2em;
      padding: 0 10px;
      color: #333;
      font-weight: bold;
    }

        /* Asegura que los label y input tengan la misma altura */
    .form-group {
      display: flex;
      align-items: stretch; /* Asegura que los elementos se estiren a la misma altura */
      justify-content: space-between; /* Alinea el label y el input a los extremos */
      margin-bottom: 10px;
    }

    /* Estilo para los grupos de campos en línea */
    .form-group-inline {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .form-group-inline .form-group {
      flex: 1; /* Hace que cada form-group dentro de form-group-inline ocupe el mismo espacio */
    }


/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Datos empresa.CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/