
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Detalle proyecto .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
    .cuadro-datos {
      border: 1px solid #ddd;
      padding: 15px;
      background-color: #fff;
    }

    .box-6,
    .box-12 {
      display: flex;
      flex-direction: column;
    }

    .box-6 {
        flex: 1;
        padding: 10px;
    }

    fieldset legend {
        font-size: 1.2em;
        padding: 0 10px;
        color: #333;
        font-weight: bold;
    }

    .form-group label, .form-group select, .form-group input {
        display: flex;
        align-items: center;
    }

    .form-group label {
        width: 20%;
        font-size: 14px;
        background-color: #d4d4d4;
        padding: 5px;
        border-radius: 3px 0px 0px 3px;
        text-align: left;
    }

    .form-group select, .form-group input {
        flex: 2;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 0px 3px 3px 0px;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        box-sizing: border-box;
    }

    /* Asegura que los label y input tengan la misma altura */
    .form-group {
        display: flex;
        align-items: stretch; /* Asegura que los elementos se estiren a la misma altura */
        justify-content: space-between; /* Alinea el label y el input a los extremos */
        margin-bottom: 10px;
    }

    /* Estilo para los grupos de campos en línea */
    .form-group-inline {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .form-group-inline .form-group {
        flex: 1; /* Hace que cada form-group dentro de form-group-inline ocupe el mismo espacio */
    }
  
/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Detalle proyecto .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/