
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Detalle total.CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
    .form-contenedor {
        background-color: #f9f9f9;
        padding: 20px;
        border: 1px solid #ddd;
        max-width: 500px;
        margin-left: auto;
        border-radius: 5px;
        font-family: Arial, sans-serif;
    }

    .form-group-2 label {
        width: 40%;
        font-size: 14px;
        color: #333; /* Color de texto de la etiqueta */
        background-color: #d4d4d4; /* Cambia este color según lo necesites */
        padding: 5px;
        border-radius: 3px 0px 0px 3px;
    }

    .form-group-2 input {
        width: 60%;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 14px;
        text-align: right;
        background-color: #fff;
    }

    .form-group-inline-2 {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .form-contenedor-2 {
        background-color: #f9f9f9;
        padding: 20px;
        border: 1px solid #ddd;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5px;
        font-family: Arial, sans-serif;
    }
      
    .form-group-2 {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
      
    .form-group-inline-2 .form-group {
        flex: 1;
    }
      
    .form-group-2 span {
        margin-left: 5px;
        font-weight: bold;
        color: #333;
    }

    /* Asegura que los label y input tengan la misma altura */
    .form-group {
        display: flex;
        align-items: stretch; /* Asegura que los elementos se estiren a la misma altura */
        justify-content: space-between; /* Alinea el label y el input a los extremos */
        margin-bottom: 10px;
    }

    /* Estilo para los grupos de campos en línea */
    .form-group-inline {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .form-group-inline .form-group {
        flex: 1; /* Hace que cada form-group dentro de form-group-inline ocupe el mismo espacio */
    }
  

    
      
/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Detalle total.CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/