
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Formulario Cotizacion .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */



/* formulario_cotizacion.css */

/* Establece la fuente predeterminada, elimina márgenes y rellenos, y define el color de fondo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.contenedor {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.caja-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-fijado {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.boton-fijado:hover {
  background-color: #0056b3;
}


#detalle-contenedor {
  position: relative;
  padding-bottom: 50px;
}

.submit {
  width: 80%;
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.submit:hover {
  background-color: #ff4500;
}

.bancos td {
  text-align: center;
}

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Formulario Cotizacion .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/