
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Pago .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */
    th {
        background-color: #4CAF50;
        padding: 10px;
        text-align: center;
    }

    textarea {
        resize: vertical;
    }

    td {
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }

    fieldset legend {
        font-size: 1.2em;
        padding: 0 10px;
        color: #333;
        font-weight: bold;
    }
/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Pago .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/