/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/

/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Cuadro Rojo .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* Estilos comunes para la estructura del sitio */

/* Clase 'box-6' utilizada para controlar el ancho máximo de un contenedor y su relleno interno */
.box-6 {
    flex: 1; /* Permite que el contenedor crezca para llenar el espacio disponible en un diseño flexible */
    max-width: 50%; /* Limita el ancho máximo al 50% del contenedor padre */
    padding: 10px; /* Agrega un espacio interno de 10px alrededor del contenido del contenedor */
}

/* Clase 'data-box' define el estilo básico para cajas de datos */
.data-box {
    border: 1px solid #ddd; /* Aplica un borde de 1px de grosor y color gris claro (#ddd) */
    padding: 15px; /* Agrega un espacio interno de 15px dentro de la caja */
    background-color: #fff; /* Establece el color de fondo en blanco */
    border-radius: 12px; /* Redondea las esquinas del borde con un radio de 12px */
}

/* Clase 'data-box-red' extiende 'data-box' y cambia el color del borde a rojo */
.data-box-red {
    border-color: red; /* Cambia el color del borde a rojo */
    border-radius: 12px; /* Mantiene el borde redondeado de 12px */
}

/* Estilo para los campos de entrada en el formulario */
input {
    width: calc(100% - 20px); /* Establece el ancho al 100% menos 20px para evitar desbordamientos */
    padding: 10px; /* Aplica un relleno de 10px dentro del campo */
    margin-bottom: 20px; /* Añade un margen inferior de 20px para separar los campos entre sí */
    border: 1px solid #ddd; /* Aplica un borde de 1px de color gris claro */
    border-radius: 5px; /* Redondea las esquinas del campo con un radio de 5px */
    box-sizing: border-box; /* Asegura que el relleno y el borde se incluyan dentro del ancho total */
}

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Cuadro Rojo .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/
