
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Procesar Formulario encargado  .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


    #formulario-contenedor {
        display: flex;
        flex-direction: column; /* Hace que los formularios se dispongan en columnas (verticalmente) */
        gap: 20px; /* Añade un pequeño espacio entre formularios */
    }

    .formulario-encargado {
        border: 1px solid #ccc; /* Opcional: añade un borde alrededor de cada formulario */
        padding: 15px; /* Añade algo de espacio interior */
        margin-bottom: 10px; /* Añade un margen inferior para separar los formularios */
    }


/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Procesar Formulario encargado  .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/