
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Formulario Cuenta .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* Estilos comunes */

.box-12 {
    flex: 1;
    max-width: 100%;
    padding: 10px;
}

.data-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
}

.bank-account-container {
    margin-top: 20px;
}

.bank-account label {
    display: block;
    margin-bottom: 8px;
}

.bank-account input,
.bank-account select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#add-account-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-account-button:hover {
    background-color: #0056b3;
}

#submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#accounts-table {
    width: 100%;
    border-collapse: collapse;
}

#accounts-table th,
#accounts-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#accounts-table th {
    background-color: #f2f2f2;
}

.bank-account-container h2 {
    margin-bottom: 20px;
}







/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Formulario Cuenta .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/