
  
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Obligaciones clientes .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


.obligaciones-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }nnnn                                                    
  
  .remove-obligaciones-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }



/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Obligaciones clientes .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/