/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Requisitos basicos .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


    h2 {
      color: #333;
      margin-top: 0;
    }
    
    .fila-obligaciones, .fila-requisitos {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    
    .fila-obligaciones input, .fila-requisitos input {
      flex-grow: 1;
      margin-right: 10px;
    }
    
    .boton-eliminar-obligacion, .boton-eliminar-obligacion {
      background-color: #dc3545; /* Color rojo */
      border: none;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .boton-eliminar-obligacion:hover, .boton-eliminar-obligacion:hover {
      background-color: #c82333; /* Rojo más oscuro al hacer hover */
    }
    
    #boton-agregar-obligacion, #boton-agregar-requisito {
      font-size: 14px; /* Tamaño de fuente pequeño */
      padding: 8px 16px; /* Espaciado interno */
      border: none; /* Sin borde */
      border-radius: 5px; /* Bordes redondeados */
      color: #fff; /* Color del texto */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      transition: background-color 0.3s; /* Transición para el color de fondo */
    }
    
    #boton-agregar-obligacion {
      background-color: #28a745; /* Color de fondo llamativo (verde) */
    }
    
    #boton-agregar-obligacion:hover {
      background-color: #218838; /* Color de fondo al pasar el ratón (verde más oscuro) */
    }
    
    #boton-agregar-requisito {
      background-color: #28a745; /* Color de fondo llamativo (verde) */
    }
    
    #boton-agregar-requisito:hover {
      background-color: #218838; /* Color de fondo al pasar el ratón (verde más oscuro) */
    }

    .box-12_1 {
      display: flex;
      flex-direction: row; /* Disposición horizontal */
      justify-content: space-between; /* Coloca uno a la izquierda, otro al centro y otro a la derecha */
      flex: 1;
      max-width: 100%;
      padding: 10px;
  }
  
  .data-box_1 {
      border: 1px solid #ddd;
      padding: 15px;
      background-color: #fff;
      border-radius: 12px;
      flex: 1; /* Todos los módulos ocupan un espacio igual */
      margin: 0 10px; /* Margen lateral para un poco de espacio adicional entre los módulos */
  }
/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Requisitos basicos .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/